<!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="12u">
          <!-- Contact -->
            <section class="contact">
              <header>
                <h3>醜蔬果大翻身</h3>
              </header>
              <p>透過購買好品質的醜蔬果來減少浪費，這片土地就翻身成功！</p>
              <ul class="icons">
                <li><a target="_blank" href="https://www.facebook.com/TheUglyProduce/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="mailto:theuglyproduce@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
            </section>

          <!-- Copyright -->
            <div class="copyright">
              <ul class="menu">
                <li>&copy; 2015 Uglyfruit.</li><li>Design: 孫合毅、<a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>

        </div>

      </div>
    </div>
  </div>