<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>醜蔬果戰略中心</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<%- partial('components/script') %>

		<script>
			var u = angular.module('uglyfruit', []);
		</script>

	</head>
	<body ng-app="uglyfruit" ng-cloak>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a id="logo">醜蔬果戰略中心</a></h1>
								<hr/>
               					<p>農友介紹</p>
							</header>
							<footer>
				                <a href="/admin/farmer_add" class="button circled special">新增</a>
				            </footer>
						</div>

					<%- partial('components/admin_nav') %>

				</div>

			<!-- Main -->
				<div class="wrapper style1"  ng-controller="farmerCtrl" ng-init="initialize()">

					<div class="container">
						<article id="main" class="special" ng-repeat="farmer in farmerList">
							<section>
								<div class="row 50%">
									<div class="3u">
										<a class="image fit"><img src="/images/farmer/1.jpg" alt="" /></a>
									</div>
									<div class="9u">
										<h3  ng-bind="farmer.name">蔡警煌 先生</h3>
										<h4  ng-bind="farmer.location">蔡警煌 先生</h4>
										<p ng-bind="farmer.text"></p>
									</div>
								</div>
							</section>
							<footer>
								<a ng-click="delete_farmer(farmer.id)" style="cursor:pointer;" class="button special">刪除</a>
								<hr>
							</footer>
						</article>
					</div>

				</div>

				<script>
					u.controller('farmerCtrl', function($scope, $rootScope, $http) {
						$scope.initialize = function() {
							$http.get('/farmer/get_farmer')
							.success(function(response, status) {
								console.log(response);
								$scope.farmerList = response.result;
							})
							.error(function(response, status) {
							})
						}

						$scope.delete_farmer = function(farmerID){
			              $http.post('/farmer/delete_farmer', {
			                farmerID: farmerID
			              })
			              .success(function(response, status) {
			                $scope.initialize();
			              })
			              .error(function(response, status) {
			              })
			            }
					})
				</script>

			    <%- partial('components/footer') %>
			
		</div>

	</body>
</html>