<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>農友介紹</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<%- partial('components/script') %>

		<script>
	      var u = angular.module('uglyfruit', []);
	    </script>

	</head>
	<body class="left-sidebar"  ng-app="uglyfruit">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a id="logo">醜蔬果大翻身</a></h1>
								<hr/>
               					<p>農友介紹</p>
							</header>
						</div>

					<%- partial('components/nav') %>

				</div>

			<!-- Main -->
				<div class="wrapper style1"  ng-controller="farmerCtrl">

					<div class="container">
						<div class="row 200%">
							<div class="4u 12u(mobile)" id="sidebar">
								<section ng-init="tab = 1">
									<div class="row 50%">
										<div class="4u">
											<a href ng-click = "tab = 1" class="image fit"><img src="/images/farmer/1.jpg" alt="" /></a>
										</div>
										<div class="8u">
											<h4><a href ng-click = "tab = 1">蔡警煌 先生</a></h4>
											<p>雲林水林薯長有機農場</p>
										</div>
									</div>
									<div class="row 50%">
										<div class="4u">
											<a href ng-click = "tab = 2" class="image fit"><img src="/images/farmer/2.jpg" alt="" /></a>
										</div>
										<div class="8u">
											<h4><a href ng-click = "tab = 2">源鄉地瓜郭子媽</a></h4>
											<p>雲林口湖</p>
										</div>
									</div>
								</section>
							</div>
							<div class="8u 12u(mobile) important(mobile)" id="content">
								<article id="main"  ng-show = "tab === 1">
									<header>
										<h2>蔡警煌 先生</a></h2>
										<p>雲林水林薯長有機農場</p>
									</header>
									<a class="image featured"><img src="/images/farmer/1.jpg" alt="" /></a>
									<p>
										黑夜中我們騎著機車呼嘯穿梭雲林，帶著一身行囊來到蔡警煌先生的家，</br>
										三合院內亮著燈的一角，熱騰騰剛烤好的地瓜就擺在桌上，</br>
										鬆軟綿密，隱約透著甜甜的焦蜜。</br>
										</br>
										我們在小屋內與蔡警煌先生討論著對於格外農產品的想法，</br>
										參觀了倉庫裡滿滿的一袋一袋地瓜，準備要出貨給不同的通路。</br>
										那些因為個頭太小，或者表皮有擦傷的，都被蔡警煌先生細心地留了下來，</br>
										「其實它們也很好吃，就像你們剛剛吃的那些烤地瓜，烤起來還是一樣美味。」蔡警煌先生說。</br>
										</br>
										這些難以進到市面上的、醜得可愛的台農57號地瓜，</br>
										就只能分享給幸運又識貨的有緣人了。
									</p>
								</article>
								<article id="main"  ng-show = "tab === 2">
									<header>
										<h2>源鄉地瓜郭子媽</a></h2>
										<p>雲林口湖</p>
									</header>
									<a class="image featured"><img src="/images/farmer/2.jpg" alt="" /></a>
									<p>
										源鄉地瓜是我們最後一位拜訪的農友，不同於水林鄉中地瓜田遍佈的景象，源鄉地瓜位處口湖鄉，一個滿是蚵農的濱海小鎮。</br>
										</br>
										郭子媽與她的先生因為喜歡鄉下自然單純的生活，義無反顧地放棄原本模板工人的工作。選擇不灑農藥與化肥的耕作的方式，讓他們必須加倍努力，才能栽種出慣行產量的一半。</br>
										</br>
										郭子媽告訴我們今年地瓜因為天候與病蟲害的關係，NG的地瓜有將近一半的比例。然而，在格外品的再利用上，卻苦無更好的解決方法。想要送加工廠，做成乾燥的地瓜條，不過有機的加工廠不多，送去開膜的加工費又不便宜。我們到郭子媽的倉庫，看看剛收下來的地瓜。麻布袋裡裝滿個頭嬌小的地瓜，不過歪了點、扭了點，但更顯得有生命力。</br>
										</br>
										「你知道我們說ㄘㄠˋ ㄏㄩㄣ，但其實壞掉的地瓜是香的嗎？」</br>
										</br>
										撥開那條壞掉的地瓜有股清香，還有郭子媽與她的先生對這片土地一股腦的熱情。
									</p>
								</article>
							</div>
						</div>
					</div>

				</div>

				<script>
		          u.controller('farmerCtrl', function() {
		            this.tab = 1;

				    this.setTab = function(newValue){
				      this.tab = newValue;
				    };

				    this.isSet = function(tabName){
				      return this.tab === tabName;
				    };
		          });
		        </script>

			    <%- partial('components/footer') %>
			
		</div>

	</body>
</html>