<!DOCTYPE HTML>
<!--
  Helios by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>醜蔬果大翻身</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    <%- partial('components/script') %>

  </head>
  <body class="homepage">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header">

          <!-- Inner -->
            <div class="inner">
              <header>
                <h1><a href="index.html" id="logo">醜蔬果大翻身</a></h1>
                <hr/>
                <p>透過購買好品質的醜蔬果來減少浪費，這片土地就翻身成功！</p>
              </header>
              <footer>
                <a href="" class="button circled scrolly">立即購買</a>
                </br></br></br></br></br></br>
                <a href="#what" class="scrolly">了解更多</a>
              </footer>
            </div>

          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li><a class="scrolly" href="/">首頁</a></li>
                <li><a class="scrolly" href="#what">醜蔬果是什麼？</a></li>
                <li><a class="scrolly" href="#farmer">農友介紹</a></li>
                <li><a class="scrolly" href="#product">產品介紹</a></li>
                <li><a class="scrolly" href="#cta">聯絡我們</a></li>
                <li><a target="_blank" href="https://www.facebook.com/TheUglyProduce/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              </ul>
            </nav>

        </div>

      <!-- Main -->
        <div class="wrapper style2" id="what">
          <a class="image fit"><img src="/images/slide/slide1.jpg"/></a>
          <a class="image fit"><img src="/images/slide/slide2.jpg"/></a>
          <a class="image fit"><img src="/images/slide/slide3.jpg"/></a>
          <a class="image fit"><img src="/images/slide/slide4.jpg"/></a>
        </div>

      <!-- Farmer -->
        <div class="wrapper style1" id="farmer">

          <section id="features" class="container special">
            <header>
              <h2>農友介紹</h2>
            </header>
            <div class="row">
              <article class="4u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/farmer/1.jpg" alt="" /></a>
                <header>
                  <h3><a href="#">蔡警煌 先生</a></h3>
                  </br>
                  <h4><a href="#">雲林水林薯長有機農場</a></h4>
                </header>
              </article>
              <article class="4u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/farmer/3.jpg" alt="" /></a>
                <header>
                  <h3><a href="#">洪箱 阿姨</a></h3>
                  </br>
                  <h4><a href="#">苗栗灣寶</a></h4>
                </header>
              </article>
              <article class="4u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/farmer/5.jpg" alt="" /></a>
               <header>
                  <h3><a href="#">張家芸 小姐</a></h3>
                  </br>
                  <h4><a href="#">高雄六龜享家蔬果園</a></h4>
                </header>
              </article>
            </div>
            <footer>
              <a href="#" class="button">看更多裸照</a>
            </footer>
          </section>

        </div>

      <!-- Product -->
        <div class="wrapper style1" id="product">

          <section id="features" class="container special">
            <header>
              <h2>產品介紹</h2>
            </header>
            <div class="row">
              <article class="3u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/product/1.jpg" alt="" /></a>
                <header>
                  <h3><a href="#">蔡警煌 先生</a></h3>
                  </br>
                  <h4><a href="#">雲林水林薯長有機農場</a></h4>
                </header>
              </article>
              <article class="3u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/product/2.jpg" alt="" /></a>
                <header>
                  <h3><a href="#">洪箱 阿姨</a></h3>
                  </br>
                  <h4><a href="#">苗栗灣寶</a></h4>
                </header>
              </article>
              <article class="3u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/product/3.jpg" alt="" /></a>
               <header>
                  <h3><a href="#">張家芸 小姐</a></h3>
                  </br>
                  <h4><a href="#">高雄六龜享家蔬果園</a></h4>
                </header>
              </article>
              <article class="3u 12u(mobile) special">
                <a href="#" class="image featured"><img src="/images/product/4.jpg" alt="" /></a>
               <header>
                  <h3><a href="#">張家芸 小姐</a></h3>
                  </br>
                  <h4><a href="#">高雄六龜享家蔬果園</a></h4>
                </header>
              </article>
            </div>
          </section>

        </div>

      <!-- CTA -->
        <div class="wrapper style1" id="cta">
          <section id="features" class="container special">
            <header>
              <h2>聯絡我們</h2>
            </header>
            <section id="content">
              <form ng-submit="send_register()">
                <div class="row uniform">
                  <div class="6u 12u$(3)">
                    <input type="text" placeholder="名字" ng-model="name"/>
                  </div>
                  <div class="6u 12u$(3)">
                    <input type="text" placeholder="電子信箱" ng-model="email"/>
                  </div>
                  <div class="12u 12u$(3)">
                    <textarea ng-model="text" placeholder="寫一些內容吧" rows="6"></textarea>
                  </div>
                </div>
                </br>
              </form>
            </section> 
            <footer>
              <h3>{{ error_message }}</h3>
              </br>
              <a href="#" class="button">送出我的裸照</a>
            </footer>
          </section>
        </div>

      <!-- Footer -->
        <div id="footer">
          <div class="container">
            <div class="row">
              <div class="12u">
                <!-- Contact -->
                  <section class="contact">
                    <header>
                      <h3>醜蔬果大翻身</h3>
                    </header>
                    <p>透過購買好品質的醜蔬果來減少浪費，這片土地就翻身成功！</p>
                    <ul class="icons">
                      <li><a target="_blank" href="https://www.facebook.com/TheUglyProduce/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                      <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                  </section>

                <!-- Copyright -->
                  <div class="copyright">
                    <ul class="menu">
                      <li>&copy; 2015 Uglyfruit.</li><li>Design: 孫合毅、<a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                  </div>

              </div>

            </div>
          </div>
        </div>

    </div>

  </body>
</html>